@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
:root {
    --main: #333333;
    --second: #BDBDBD;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Space Mono', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    /* overflow: hidden; */
}

.container {
    height: 100vh;
    width: 100%;
    padding-bottom: 1rem;
    background-color: #fff;
}

.container nav {
    width: 80%;
    display: flex;
    font-size: 1.5rem;
    font-family: Inconsolata;
    margin: 0 auto;
    padding: 3rem 0;
    text-transform: uppercase;

}

.hero-section {
    width: 80%;
    height: calc(100% - 15rem);
    display: flex;
    justify-content: space-between;
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin: 0 auto;
    margin-top: 6rem;
} 

.hero-section .image {
    width: 35vw;
    height: 50%;
    background-image: url("../Scarecrow.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.hero-section .text {
    width: 35vw;
    font-size: 2.5rem;
    color: var(--main);
    margin-bottom: 5rem;
}

.hero-section .text h2 {
    margin-bottom: 3rem;
    font-weight: 700;
}

.hero-section .text p {
    width: 70%;
    margin-bottom: 3rem;
    font-size: 1.5rem;
}

.hero-section .text a {
    text-decoration: none;
    text-transform: uppercase;
    font-size:.8rem;
    font-weight: 700;
    background-color: var(--main);
    padding: 1.5rem 3rem;
    color: white;
}

@media  (max-width: 1440px)  { 

    .container nav {
        width: 95%;
    }
    
    .hero-section {
        width: 95%;
    }

    .hero-section .image {
    width: 45%;
    height: 400px;
    }

    .hero-section .text {
        width: 45%;
        font-size: 2.2rem;
        margin-bottom: 5rem;
    }

    .hero-section .text h2 {
        margin-bottom: 1rem;
    }

    .hero-section .text p {
        width: 60%;
        margin-bottom: 3rem;
        font-size: 1.5rem;
    }

}

footer {
    display: block;
    /* margin-bottom: 2rem; */
    color: var(--second);
    text-align: center;
}

footer span{
    font-family: Montserrat;
    font-weight: 700;
    text-decoration: underline;
}

@media (max-width: 700px) {

    .container nav {
        width: 95%;
        padding-top: 1.5rem;
    }
    .hero-section {
        width: 90%;
        height: calc(100% - 10rem);
        margin-top: 2rem;
        flex-direction: column;
        justify-content: space-between;
    }

    .hero-section .image {
        width: 90%;
        height: 30vh;
    }

    .hero-section .text {
        margin-top: 0;
        width: 100%;
    }
    
    .hero-section .text h2{
        font-size: 2.8rem;
        margin-bottom: 3rem;
    }

    .hero-section .text p {
        width: 100%;
        font-size: 1.1rem;
        margin-bottom: 3rem;
    }


}